<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- デバッグ用のアペンダ：標準出力する -->  
	<appender name="debugAppender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %-26.26c{1} - %m%n" />
		</layout>
	</appender>
	
	<!-- 全てのログ -->
	<root>
		<level value="WARN" />
		<appender-ref ref="debugAppender" />
	</root>

</log4j:configuration>