<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
	">
	
	<!-- アノテーションによるインジェクションの定義 -->
	<context:annotation-config />
	<context:component-scan base-package="com.github.mygreen.supercsv.builder.spring" />
	
	<!-- Springのコンテナを経由するCSV用のBeanFactoryの定義 -->
	<bean id="springBeanFactory" class="com.github.mygreen.supercsv.builder.SpringBeanFactory" />
	
	<!-- Spring標準のメッセージソースの定義 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>com.github.mygreen.supercsv.localization.SuperCsvMessages</value>
				<value>TestMessages</value>
			</list>
		</property>
	</bean>
	
	<!-- Supre CSV Annotation 用のMessgeResolverの定義 -->
	<bean id="springMessageResolver" class="com.github.mygreen.supercsv.localization.SpringMessageResolver">
		<property name="messageSource" ref="messageSource" />
	</bean>
	
	<!-- BeanValidation用のCsvValidatorの定義 -->
	<bean id="csvBeanValidator" class="com.github.mygreen.supercsv.validation.beanvalidation.CsvBeanValidator">
		<constructor-arg>
			<bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
				<property name="messageInterpolator">
					<bean class="com.github.mygreen.supercsv.validation.beanvalidation.MessageInterpolatorAdapter">
						<constructor-arg ref="springMessageResolver" />
						<constructor-arg><bean class="com.github.mygreen.supercsv.localization.MessageInterpolator" /></constructor-arg>
					</bean>
				</property>
			</bean>
		</constructor-arg>
	</bean>
	
</beans>