# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: 
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches-ignore:
      - 'gh-pages'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Locale
      run: |
        sudo apt-get -y install fonts-ipafont language-pack-ja
        sudo locale-gen ja_JP.UTF-8
        sudo update-locale LANG=ja_JP.UTF-8
        sudo update-locale LC_ALL=ja_JP.UTF-8
        sudo localectl status
    - name: Set up Time-Zone
      run: |
        sudo timedatectl set-timezone Asia/Tokyo
        date
    - uses: actions/checkout@v4
    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: 8
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6
    - name: Build with Maven
      env:
        TZ: 'Asia/Tokyo'
      run: mvn -B clean verify -Dgpg.skip=true

